{#
/**
 * @file
 * Theme override to display a Resource node full display.
 *
 */
#}
<article{{ attributes.addClass('container') }}>

        {{ title_prefix }}
        {% if not page %}
            <h2{{ title_attributes }}>
                <a href="{{ url }}" rel="bookmark">{{ label }}</a>
            </h2>
        {% endif %}
        {{ title_suffix }}

        {% if display_submitted %}
            <footer>
                {{ author_picture }}
                <div{{ author_attributes }}>
                    {% trans %}Submitted by {{ author_name }} on {{ date }}{% endtrans %}
                    {{ metadata }}
                </div>
            </footer>
        {% endif %}
        <div class="row">
            <div{{ content_attributes }} class="col-md-12">
                {% if content.field_resource_category|render or content.field_video_date|render %}
                    <div class="resource-category-and-date">
                        {% if content.field_resource_category|render %}
                            {{ content.field_resource_category }} |
                        {% endif %}
                        {{ node.createdtime|format_date('direct') }}
                    </div>
                {% endif %}

                {% if content.field_tags|render %}
                    <div class="resource-related-tags">
                        {{ content.field_tags }}
                    </div>
                {% endif %}

                {% if content.body|render %}
                    {{ content.body}}
                {% endif %}
              <div>
                {% if content.field_file|render %}
                  <div class="resource-file">
                    {{ content.field_file }}
                  </div>
                {% endif %}
                {% if content.field_external_resource|render %}
                  <div class="resource-file external">
                    {{ content.field_external_resource }}
                  </div>
                {% endif %}
              </div>

            </div>
        </div>

</article>
