{#
/**
 * @file
 * Theme override to display a Facility node full display.
 *
 */
#}
<article{{ attributes }}>
  <div class="node-facility-teaser-top">
    <div class="node-facility-teaser-svg">
    {% include(directory ~ "/svg/house.svg") %}
    </div>
    <div class="node-facility-teaser-title">
      <h2><a href="{{ url }}">{{ label }}</a></h2>
    </div>
  </div>

  <div class="node-facility-teaser-bottom">
    {% if content.field_address|render %}
      <div>
        <h3>{{ 'Address'|t }}</h3>
        {{ content.field_address }}
      </div>
    {% endif %}

    {% if content.field_customer_phone_number %}
      <div>
      <h3>{{ 'Phone Number'|t }}</h3>
      {{ content.field_customer_phone_number }}
      </div>
    {% endif %}

    {% if content.field_customer_fax_number %}
      <div>
        <h3>{{ 'Fax Number'|t }}</h3>
        {{ content.field_customer_fax_number|render }}
      </div>
    {% endif %}

    {% if content.facility_link|render %}
      <div>
        <h3>{{ 'Website'|t }}</h3>
        {{ content.facility_link }}
      </div>
    {% endif %}

    {% if content.field_licensed_nursing_facility_|render %}
      <div>
        <h3>{{ 'Number of Beds'|t }}</h3>
        {{ content.field_licensed_nursing_facility_ }}
      </div>
    {% endif %}
  </div>

  <a href="{{ url }}" class="facility-read-more">{{ 'Read More'|t }}</a>
</article>
