
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
    <title>Mass Senior Care E-News Update - 06/15/2017</title>
    <!--template created by Dana Kelly -->
    <style type="text/css">
        <!--
        a:link {color: #0000FF; text-decoration: underline}
        a:active {color: #0000FF; text-decoration: underline}
        a:visited {color: #0000FF; text-decoration: underline}
        a:hover {color: #6F8839; text-decoration: none;}
        .factoid {color: #000; font-family: Arial,Helvetica; font-size: 11px; line-height:14px;}
        textarea, input {color: #000; border: #000 solid 1px; font-family: Arial,Helvetica; font-size: 12px;}
        p, li, body, .text {color: #333; font-family: Arial,Helvetica; font-size: 12px; line-height:16px; list-style: square;}
        h1 { color: #000; font-family: Helvetica, Arial; font-size: 14px; font-weight: bold;}
        h2 { color: #000; font-family: Helvetica, Arial; font-size: 13px; font-weight: bold;}
        h3 { color: #000; font-family: Helvetica, Arial; font-size: 12px; font-weight: bold;}
        h4, h5, h6 { color: #000; font-family: Helvetica, Arial; font-size: 11px; font-weight: bold;}
        .sidebar a:link {color: #000000; text-decoration: underline}
        .sidebar a:active {color: #000000; text-decoration: underline}
        .sidebar a:visited {color: #000000; text-decoration: underline}
        .sidebar a:hover {color: #4D76AA; text-decoration: none;}
        -->
    </style>
    <script language="JavaScript" type="text/javascript">
      document.write("<img src='http://www.magnetmail1.net/link_tracking/track_client_link.cfm?mm_urlname=" + escape(location.href) + "'width='1' height='1' border='0'>");
    </script>
</head>
<body text="#000000" link="#0000FF" vlink="#0000FF" alink="#0000FF">

<table width="700" cellpadding="0" cellspacing="0" border="0" align="center">
    <tr height="0"><td height="0" bgcolor="#37567B">
            <table width="700" border="0" cellspacing="0" cellpadding="0">
                <tr><td width="406"><img src="http://newsmanager.commpartners.com/mecf/images/header.gif" width="406" height="117" alt="Mass Senior Care Association" border="0" style="padding: 0px; margin: 0px; display: block;" /></td>
                    <td width="294" valign="middle" align="center"><!--custom-adspace --></td></tr>
            </table>
        </td></tr>
    <tr><td bgcolor="#37567B"><img src="http://newsmanager.commpartners.com/mecf/images/sub_header.jpg" width="700" height="35" border="0" style="padding: 0px; margin: 0px; display: block;" /></td></tr>
    <tr><td height="0">
            <table cellpadding="0" cellspacing="0">
                <tr><td width="261" valign="top" bgcolor="#BFCDD7" >
                        <table cellpadding="0" cellspacing="0" style="font-family:Arial, Helvetica, sans-serif; font-size:12px; font-weight:bold; color:#FFFFFF">
                            <tr><td colspan="2" height="25" bgcolor="#000000" style="padding-left:5px;font-family:Arial, Helvetica, sans-serif; font-size:12px; font-weight:bold; color:#FFFFFF">June 15, 2017</td></tr>
                            <tr><td width="261" height="36" bgcolor="#37567B" background="images/sidebar_header.jpg" style="padding-left:5px"><a href="http://www.maseniorcare.org" target="_blank" style="color:#FFFFFF; text-decoration:none">Visit our website</a></td></tr>
                            <tr><td height="23" bgcolor="#37567B" style="padding-left:5px">In This Issue</td></tr>
                            <tr><td align="center" valign="top" style="padding:10px 0px">
                                    <table class="sidebar" width="90%" cellpadding="3" cellspacing="0"  style="color:#333333; font-family:Arial, Helvetica, sans-serif; font-weight:bold; font-size:12px">
                                        // for each article node...
                                        <!--tocstart -->
                                        <tr><td width="9" valign="top" style="padding-top:6px"><img src="http://newsmanager.commpartners.com/mecf/images/bullet.jpg" width="9" height="9"></td>
                                            <td align="left"><a href="#0" style="text-decoration:none">{{ label }}</a></td></tr>
                                        <!--tocend -->
                                    </table>
                                </td></tr>
                            <tr><td height="23" bgcolor="#37567B" style="padding-left:5px">Features</td></tr>
                            <tr><td align="center" style="padding:10px 0px">
                                    <table class="sidebar" width="90%" cellpadding="3" cellspacing="0"  style="color:#333333; font-family:Arial, Helvetica, sans-serif; font-weight:bold; font-size:12px">
                                        <tr><td width="29"><a href="mailto:gabrahams@massseniorcare.org" target="_blank"><img src="http://newsmanager.commpartners.com/mecf/images/contact_us.jpg" alt="Contact Us" width="29" height="29" border="0"></a></td>
                                            <td width="202" align="left"><a href="mailto:gabrahams@maseniorcare.org" target="_blank" style="text-decoration:none">Contact Us</a></td></tr>
                                        <tr><td width="29"><a href="http://www.maseniorcare.org/Job_Seekers/Job_Seekers.aspx" target="_blank"><img src="http://newsmanager.commpartners.com/mecf/images/job_center.jpg" alt="Job Center" width="29" height="29" border="0"></a></td>
                                            <td align="left"><a href="http://www.maseniorcare.org/Job_Seekers/Job_Seekers.aspx" target="_blank" style="text-decoration:none">Job Center</a></td></tr>
                                        <tr><td width="29"><a href="/newsletter/issues/" target="_blank"><img src="/sites/default/images/view_back.jpg" alt="View Back Issues" width="29" height="29" border="0"></a></td>
                                            <td align="left"><a href="/newsletter/issues/" target="_blank" style="text-decoration:none">View Back Issues</a></td></tr>
                                        <tr><td width="29"><a href="" target="_blank"><img src="http://newsmanager.commpartners.com/mecf/images/email_news.jpg" alt="Email Newsletter" width="29" height="29" border="0"></a></td>
                                            <td align="left"><a href="" target="_blank" style="text-decoration:none">E-mail Entire Newsletter</a></td></tr>
                                        <tr><td width="29"><a href="" target="_blank"><img src="http://newsmanager.commpartners.com/mecf/images/print_entire.jpg" alt="Print Newsletter" width="29" height="29" border="0"></a></td>
                                            <td align="left"><a href="" target="_blank" style="text-decoration:none">Print Entire Newsletter</a></td></tr>
                                        <tr><td width="29"><a href="http://www.magnetmail.net/actions/subscription_manage.cfm?user_id=MA_ExCare" target="_blank"><img src="http://newsmanager.commpartners.com/mecf/images/manage_sub.jpg" alt="Manage Subscription" width="29" height="29" border="0"></a></td>
                                            <td align="left"><a href="http://www.magnetmail.net/actions/subscription_manage.cfm?user_id=MA_ExCare" target="_blank" style="text-decoration:none">Manage Your Subscription</a></td></tr>
                                        <tr><td colspan="2"><a href="#calendar"><img src="http://newsmanager.commpartners.com/mecf/images/calendar.jpg" width="173" height="63" border="0"></a></td></tr>
                                    </table>
                                </td></tr>
                        </table>
                    </td>
                    <td align="left" width="439" valign="top" style="padding:0px; border-right:1px solid #BFCDD7">
                        <table width="100%" border="0" cellspacing="0" cellpadding="0">
                            <!--custom-top ad space-start -->
                            <tr><td colspan="2" bgcolor="#000000" height="25">
                                    <table width="100%" cellpadding="0" cellspacing="0" border="0">
                                        <tr><td align="left" valign="top" bgcolor="#000000" style="font-family: Arial, Helvetica, sans-serif; font-size: 14px; color: #FFFFFF; padding: 4px 10px; font-weight: bold;">This Week's E-News is Sponsored By:</td></tr>
                                    </table>
                                </td></tr>
                            <tr><td colspan="2" align="left" valign="top" bgcolor="#FFFFFF">
                                    <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                        <tr><td align="left" valign="top" bgcolor="#FFFFFF" style="font-family: Arial, Helvetica, sans-serif; padding: 10px; font-size: 12px; line-height: 16px;">{{ field_sponsor }}</td></tr>
                                    </table>
                                </td></tr>
                            <!--custom-top ad space-end -->
                            <tr><td colspan="2" height="25" bgcolor="#000000">&nbsp;</td></tr>
                        </table>
                        <br />
                        // for each article node
                        <!--articlestart --><a name="<!--storynumber -->"></a>
                        <table cellpadding="0" cellspacing="0" style="font-family:Arial, Helvetica, sans-serif; font-size:12px">
                            <tr>
                                <td valign="bottom" align="left" style="color:#6D89AA; font-weight:bold; font-size:14px; padding: 0px 25px;">{{ label }}</td>
                            </tr>
                            <tr>
                                <td style="line-height:16px; font-size:12px; font-family:Arial, Helvetica, sans-serif; padding: 0px 25px;">
                                    {{ body }}
                                </td>
                            </tr>
                            <tr><td valign="top" style="font-size:10px; padding: 5px 25px 0px 25px;">
                                    <img src="/sites/default/files/images/email_article.gif" width="18" height="16">
                                    <a href="" style="margin:5px; position:relative; top:-4px; color: #37567b;">E-mail This Article</a>
                                    <img src="/sites/default/files/images/print_article.gif" width="18" height="16">
                                    <a href="" style="margin:5px; position:relative; top:-4px; color: #37567b;">Print This Article</a></td></tr>
                        </table><br>
                        <!--articleend -->
                        <!--custom-calendar-start -->
                        <a name="calendar"></a>
                        <table cellpadding="0" cellspacing="0" width="100%" align="center">
                            <tr><td valign="bottom" style="color: #37567B; font-size:18px; font-weight:bold; font-family:Arial, Helvetica, sans-serif; padding: 0px 25px;">Mass Senior Care Calendar</td></tr>
                            <tr><td style="padding: 0px 25px;">
                                    <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                        <tr><td style="border: 1px solid #37567B;">{{ field_calendar }}</td></tr>
                                    </table>
                                </td></tr>
                        </table>
                        <br>
                        <!--custom-calendar-end -->
                        <br>

                        <br />
                    </td></tr>
            </table>
        </td></tr>
    <tr><td bgcolor="#37567B"><img src="/sites/default/files/images/footer.jpg" height="42" width="700" border="0" style="padding: 0px; margin: 0px; display: block;" /></td></tr>
    <tr><td colspan="2" bgcolor="#000000" style="color:#FFFFFF; font-size:11px; padding:8px 15px; font-family:Arial, Helvetica, sans-serif; text-align:center"><a href="http://www.maseniorcare.org" style="color:#FFFFFF;" target="_blank">Massachusetts Senior Care Association</a> . 800 South Street - Suite 280, Waltham, MA 02453<br><a href="mailto:info@maseniorcare.org" style="color:#FFFFFF;">info@maseniorcare.org</a>. phone: 617.558.0202 . fax: 617.558.3546</td></tr>
</table>
</body>
</html>
