{#
/**
 * @file
 * Theme override to display a menu.
 *
 * Available variables:
 * - menu_name: The machine name of the menu.
 * - items: A nested list of menu items. Each menu item contains:
 *   - attributes: HTML attributes for the menu item.
 *   - below: The menu item child items.
 *   - title: The menu link title.
 *   - url: The menu link url, instance of \Drupal\Core\Url
 *   - localized_options: Menu link localized options.
 *   - is_expanded: TRUE if the link has visible children within the current
 *     menu tree.
 *   - is_collapsed: TRUE if the link has children within the current menu tree
 *     that are not currently visible.
 *   - in_active_trail: TRUE if the link is in the active trail.
 */
#}
{% import _self as menus %}

{#
  We call a macro which calls itself to render the full tree.
  @see http://twig.sensiolabs.org/doc/tags/macro.html
#}
{{ menus.menu_links(items, attributes, 0) }}

{% macro menu_links(items, attributes, menu_level) %}
    {% import _self as menus %}
    {% if items %}
        {# Add level classes for easier CSS targeting#}
        {% if menu_level == 0 %}
            <ul{{ attributes.addClass('navbar-nav','nav', 'menu-level-1') }}>
        {% elseif menu_level == 1 %}
            <ul{{ attributes.addClass('navbar-nav','nav', 'menu-level-2').removeClass('menu-level-1', 'menu-level-3') }}>
        {% elseif menu_level == 2 %}
            <ul{{ attributes.addClass('navbar-nav','nav', 'menu-level-3').removeClass('menu-level-1', 'menu-level-2') }}>
        {% endif %}
        {% for item in items %}
            {# Create lowercase variable with no spaces or ampersands so we can assign unique class to each menu li. #}
            {% set titleclass = item.title|replace({' ':'','&':''})|lower %}
            {# Add class to items that have submenus for easy JS targeting #}
            {% set belowClass = '' %}
            {% if item.below %}
                {% set belowClass = 'has-submenu' %}
            {% endif %}
            <li{{ item.attributes.addClass(titleclass, belowClass, 'nav-item dropdown') }}>
                {% if item.attributes.hasClass('search') %}
                  {{
                      link(
                          item.title,
                          item.url,
                          item.attributes.addClass('dropdown-toggle'),
                          item.attributes.setAttribute('id', 'dropdownMenuLink'),
                          item.attributes.setAttribute('data-toggle', 'dropdown'),
                          item.attributes.setAttribute('aria-haspopup', 'true'),
                          item.attributes.setAttribute('aria-expanded', 'false'),
                          item.attributes.setAttribute('role', 'button')
                      )
                  }}
                  {# Using Twig Tweak module to place search block in menu where bootstrap dropdown needs it to be. #}
                  {{ drupal_block('searchform') }}
                {% else %}
                    {{ link(item.title, item.url) }}
                {% endif %}
                {% if item.below %}
                    {{ menus.menu_links(item.below, attributes, menu_level + 1) }}
                {% endif %}
            </li>
        {% endfor %}
        </ul>
    {% endif %}
{% endmacro %}