{#
/**
 * @file
 * Theme override to display a Newsletter node Full display.
 *
 */
#}
<article{{ attributes.addClass('container') }}>

    <!--main-section-start -->
    <section class="col-md-8 float-left">

        <!--featured-article-start -->
        {% if content.field_featured_article|render %}
            <h2> {{ 'Featured Article'|t }}</h2>
             {{ content.field_featured_article }}
        {% endif %}
        <!--featured-article-end -->

        <!--articles-start -->
        {% if content.field_newsletter_article|render %}
            <h2>{{ 'Latest News & Resources'|t }}</h2>
            {{ content.field_newsletter_article }}
        {% endif %}
        <!--articles-end -->

        <!--custom-calendar-start -->
        {% if content.field_calendar|render %}
            <a name="calendar"></a>
            <h2>{{ 'Upcoming Education & Events'|t }}</h2>
            {{ content.field_calendar }}
        {% endif %}
        <!--custom-calendar-end -->

    </section>
    <!--main-section-end -->

    <!--right-sidebar-start -->
    <aside class="col-md-4 float-right">

        <!--custom-top ad space-start -->
        {% if content.field_sponsor|render %}
            <h2>Sponsored By</h2>
            {{ content.field_sponsor }}
        {% endif %}
        <!--custom-top ad space-end -->

        <h2>In This Issue</h2>
        <ul class="list-unstyled">
            {% for item in node.field_newsletter_article %}
                <!--tocstart -->
                <li><a href="#{{ item.entity.nid.value }}" style="text-decoration:none">{{ item.entity.label }}</a></li>
                <!--tocend -->
            {% endfor %}
        </ul>

        <p><a class="btn btn-primary" href="/newsletter/issues/" target="_blank">See Previous Issues</a></p>
        <p><a class="btn btn-primary" href="/member-resources/preferred-vendors/" target="_blank">Find a Preferred Vendor</a></p>
    </aside>
    <!--right-sidebar-end -->

</article>