{#
/**
 * @file
 * Theme override to display a Newsletter Article node teaser display.
 *
 */
#}
{# For Newsletter TOC anchor links. #}
<a class="anchor" name="{{ node.id }}"></a>
<article{{ attributes.addClass('pb-5') }} name="testarticle" title="testarticle">
  <div{{ content_attributes }}>
    {# Doing this because image urls need to be absolute for email version of newsletter. #}
    <div class="float-left pr-3">
      {% for key, image in content.field_news_teaser_image  %}
        {%if image.entity %}
          {% set media = image.entity %}
          {% set file = media.field_image.entity %}
          {% set uri = file_url(file.uri.value) %}
          {# Todo: figure out how to invoke absolute url to styled image so I don't have to specify width like this #}
          <img width="100" src="http://{{ base_path }}{{ uri }}" alt="{{ media.name.value }}" />
        {% endif %}
      {% endfor %}
    </div>
    <h2{{ title_attributes }}>
      {# intentionally making links absolute because these have to work from newsletter recipients' inboxes #}
      <a href="http://{{ base_path }}{{ url }}" rel="bookmark">{{ label }}</a>
    </h2>
    {{ content.body }}...
    <a href="http://{{ base_path }}{{ path('entity.node.canonical', {'node': node.id }) }}">{{ 'Read'|t }}</a>
  </div>
</article>
