{#
/**
 * @file
 * Theme override to display a Scholarship node full display.
 *
 */
#}
<article{{ attributes.addClass('container') }}>

        {{ title_prefix }}
        {% if not page %}
            <h2{{ title_attributes }}>
                <a href="{{ url }}" rel="bookmark">{{ label }}</a>
            </h2>
        {% endif %}
        {{ title_suffix }}

        {% if display_submitted %}
            <footer>
                {{ author_picture }}
                <div{{ author_attributes }}>
                    {% trans %}Submitted by {{ author_name }} on {{ date }}{% endtrans %}
                    {{ metadata }}
                </div>
            </footer>
        {% endif %}
        <div class="row">
            <div{{ content_attributes }} class="col-md-12">
                <div class="scholarship-description">
                    {% if content.field_scholar_image|render %}
                        {{ content.field_scholar_image }}
                    {% endif %}
                    {% if content.body|render %}
                        {{ content.body }}
                    {% endif %}
                </div>
                {% if content.field_recipient|render %}
                    <div class="scholarship-recipient">
                        {{ content.field_recipient }}
                    </div>
                {% endif %}
            </div>
        </div>

</article>
