{#
/**
 * @file
 * Theme override to display a Vendor node full display.
 *
 */
#}
<article{{ attributes }}>
  {% if not page %}
    <h2{{ title_attributes }}>
        <a href="{{ url }}" rel="bookmark">{{ label }}</a>
    </h2>
  {% endif %}

  {{ content.field_phone }}

  {{ content.field_email }}

  {{ content.field_web_address }}

  {{ content.field_primary_services }}

  {{ content.field_additional_services }}

  <p class="mt-2"><a class="btn btn-outline-primary" href="{{ url }}">{{ 'Complete Vendor Listing'|t }}</a></p>
</article>
