{#
/**
 * @file
 * Theme override to display an Education and Events node homepage display.
 *
 */
#}
<article{{ attributes.addClass('container') }}>
        <div{{ content_attributes }} class="row">
            <div class="event-start-date">
                <div class="date-square">
                    {% if content.square_month|render and content.square_day|render %}
                        <div class="date-square-month">{{ content.square_month }}</div>
                        <div class="date-square-day">{{ content.square_day }}</div>
                    {% endif %}
                </div>
            </div>
            <div class="event-date-and-title">
                <span class="event-start-and-end-date">
                {% if content.full_start_date|render %}
                    {{ content.full_start_date  }}
                    {% if content.full_end_date|render %}
                        - {{ content.full_end_date }}
                    {% endif %}
                {% endif %}
                </span>
                <h3{{ title_attributes }}>
                    <a href="{{ url }}" rel="bookmark">{{ label }}</a>
                </h3>
            </div>

            <div class="event-category-location">
                <div class="event-map-icon"><img src="/{{ directory }}/svg/map.svg" /></div>
                {% if content.field_location|render %}
                    {% if content.field_location|render %}
                        {{ content.field_location }}
                    {% endif %}
                {% endif %}
            </div>
            <div class="event-call-to-action">
                {% if content.field_call_to_action|render %}
                    {{ content.field_call_to_action }}
                {% endif %}
            </div>
        </div>
</article>
