{#
/**
 * @file
 * Theme override to display an Education and Events node teaser display.
 *
 */
#}
<article{{ attributes }}>

  <div{{ content_attributes }}>
      <div class="date-square">
          <div class="date-square-month">{{ content.field_date.value|date('M') }}</div>
          <div class="date-square-day">{{ content.field_date.value|date('j') }}</div>
      </div>
      <div class="event-teaser-text">
          {% if content.field_event_category|render %}
              <h4>{{ content.field_event_category }}</h4>
          {% endif %}
          <h2{{ title_attributes }}>
            <a href="{{ url }}" rel="bookmark">{{ label }}</a>
          </h2>
          {{ content.body }}
          {% set text = content.body|render|striptags %}
          {% if text|length > 350 %}
              <a href="{{ path('entity.node.canonical', {'node': node.id }) }}">Read more</a>
          {% endif %}
      </div>

  </div>

</article>
