{#
/**
 * @file
 * Theme override to display a Newsletter Featured content of node types: events, newsletter article,
 * newsroom, resource and video.
 */
#}
<a class="anchor" name="{{ node.id }}"></a>
<article{{ attributes }}>

  <div{{ content_attributes }}>
      {% if content.field_news_teaser_image|render %}
          <div class="float-left pr-3">
            {{ content.field_news_teaser_image }}
          </div>
      {% endif %}
      <div class="newsletter-article-teaser-text teaser-text">
          <h2{{ title_attributes }}>
            <a href="{{ url }}" rel="bookmark">{{ label }}</a>
          </h2>
          {{ content.body }}
          <a href="{{ path('entity.node.canonical', {'node': node.id }) }}">{{ 'Read more'|t }}</a>
      </div>

  </div>

</article>
