{#
/**
 * @file
 * Theme override to display a Newsroom node teaser display.
 *
 */
#}
{# For Newsletter TOC anchor links. #}
<a class="anchor" name="{{ node.id }}"></a>
<article{{ attributes.addClass('pb-5') }}>
  <div{{ content_attributes }}>
    {# Doing this because image urls need to be absolute for email version of newsletter. #}
    <div class="float-left pr-3">
      {% for key, image in content.field_news_teaser_image  %}
        {%if image.entity %}
          {% set media = image.entity %}
          {% set file = media.field_image.entity | merge({'#image_style': 'thumbnail'}) %}
          {% set uri = file_url(file.uri.value) %}
          <img src="http://{{ base_path }}{{ uri }}" alt="{{ media.name.value }}" />
        {% endif %}
      {% endfor %}
    </div>
      <h2{{ title_attributes }}>
        <a href="{{ url }}" rel="bookmark">{{ label }}</a>
      </h2>
      {% if content.field_news_source|render %}
          <h6>{{ content.field_news_source.text }}</h6>
      {% endif %}
      {{ content.body }}
      <a href="{{ path('entity.node.canonical', {'node': node.id }) }}">{{ 'Read more'|t }}</a>
      <div class="utility-links float-right">
          <i class="fa fa-envelope-o" aria-hidden="true"></i>
          <a href="http://{{ base_path }}/forward/node/{{ node.id }}" target="_blank">E-mail</a>
          <i class="fa fa-print" aria-hidden="true"></i>
          <a href="http://{{ base_path }}/print/pdf/node/{{ node.id }}" target="_blank">Print</a>
      </div>
  </div>
</article>
