{#
/**
 * @file
 * Theme override to display a Sponsor node newsletter display.
 *
 */
#}
<article name="sponsor" title="sponsor">

  {% if display_submitted %}
    <footer>
      {{ author_picture }}
      <div{{ author_attributes }}>
        {% trans %}Submitted by {{ author_name }} on {{ date }}{% endtrans %}
        {{ metadata }}
      </div>
    </footer>
  {% endif %}

  <div{{ content_attributes }}>

    {% set logopath = node.field_logo.entity.fileuri %}
    {% set logostyle = logopath|image_style('sponsor_logo_large_190x110_') %}
    {% if logopath is defined and logopath is not empty %}
      <table class="sponsor-logo">
        <tbody>
          <tr>
            <td>
              <img src="{{ url('<front>') }}{{ file_url(logostyle) }}" class="logo">
            </td>
          </tr>
        </tbody>
      </table>
    {% endif %}
    <table class="social-links">
      <tbody>
        <tr>
        {% if content.field_web_address|render %}
          <td>{{ content.field_web_address }}</td>
        {% endif %}
        {% if content.field_facebook|render %}
          <td>{{ content.field_facebook }}</td>
        {% endif %}
        {% if content.field_twitter|render %}
          <td>{{ content.field_twitter }}</td>
        {% endif %}
        {% if content.field_linkedin|render %}
          <td>{{ content.field_linkedin }}</td>
        {% endif %}
        </tr>
        {% if content.body|render %}
           <tr><td colspan="4">{{ content.body }}</td></tr>
        {% endif %}
      </tbody>
    </table>




  </div>
</article>
