{#
/**
 * @file
 * Theme override to display a Newsletter node Full display.
 *
 */
#}
<article{{ attributes.addClass('container') }}>

    <!--header-start -->
    <header>
        <div class="header-top">
            <h2 class="float-left">{{ 'E-News Update'|t }}</h2>
            <div class="float-right"><img src="/themes/msca_theme/images/msca-logo-wide.png"/></div>
        </div>
        <div class="header-bottom">
            <span class="float-left">{{ 'Your Link to Long Term Care News in Massachusetts'|t }}</span>
            {% if content.field_newsletter_date|render %}
                <span class="float-right">{{ content.field_newsletter_date }}</span>
            {%  endif %}
        </div>
    </header>
    <!--header-end -->

    <!--main-section-start -->
    <section class="col-md-8 float-left">

        <!--featured-article-start -->
        {% if content.field_featured_article|render %}
            <div class="featured-article">
                {{ content.field_featured_article }}
            </div>
        {% endif %}
        <!--featured-article-end -->

        <!--articles-start -->
        {% if content.field_newsletter_section|render %}
            <div class="latest-articles">
                {{ content.field_newsletter_section }}
            </div>
        {% endif %}
        <!--articles-end -->

        <!--custom-calendar-start -->
        {% if content.field_calendar|render %}
            <div class="calendar">
                <a name="calendar"></a>
                <h2>{{ 'Upcoming Education & Events'|t }}</h2>
                {{ content.field_calendar }}
            </div>
        {% endif %}
        <!--custom-calendar-end -->

    </section>
    <!--main-section-end -->

    <!--right-sidebar-start -->
    <aside class="col-md-4 float-right newsletter">

        <!--custom-top ad space-start -->
        {% if content.field_sponsor|render %}
            <div class="sidebar-block">
                <h2>{{ 'This Week\'s E-News Update is Sponsored By'|t }}</h2>
                {{ content.field_sponsor }}
            </div>
        {% endif %}
        <!--custom-top ad space-end -->
        <div class="sidebar-block">

            <!--tocstart -->
            <h2>{{ 'In This Issue'|t }}</h2>
            <ul class="list-unstyled issue-toc">
              {% for item in node.field_featured_article %}
                <li><a href="#{{ item.entity.id }}">{{ item.entity.label }}</a></li>
              {% endfor %}
                {% for item in node.field_newsletter_section %}
                    {% for article in item.entity.fields.field_featured_articles %}
                        <li><a href="#{{ article.entity.id }}">{{ article.entity.label }}</a></li>
                    {% endfor %}
                {% endfor %}
            </ul>
            <!--tocend -->

        </div>

        <div class="sidebar-block">
            <h2>{{ 'Resources'|t }}</h2>
            <ul class="list-unstyled issue-toc newsletter-resources">
                <li><a class="btn btn-secondary" href="/newsletter/issues/" target="_blank">{{ 'See Previous Issues'|t }}</a></li>
                <li><a class="btn btn-secondary" href="/preferred-vendors" target="_blank">{{ 'Find a Preferred Vendor'|t }}</a></li>
                <li><a class="btn btn-secondary" href="mailto:gabrahams@massseniorcare.org" target="_blank">{{ 'Contact Us'|t }}</a></li>
                <li><a class="btn btn-secondary" href="http://www.magnetmail.net/actions/subscription_manage.cfm?user_id=MA_ExCare" target="_blank">{{ 'Manage Your Subscription'|t }}</a></li>
                <li><a class="btn btn-secondary" href="http://www.maseniorcare.org/Job_Seekers/Job_Seekers.aspx" target="_blank">{{ 'Careers'|t }}</a></li>
            </ul>
        </div>

    </aside>
    <!--right-sidebar-end -->

</article>