{#
/**
 * @file
 * Theme override to display an Education and Events node full display.
 *
 */
#}
<article{{ attributes.addClass('container') }}>

        {{ title_prefix }}
        {% if not page %}
            <h2{{ title_attributes }}>
                <a href="{{ url }}" rel="bookmark">{{ label }}</a>
            </h2>
        {% endif %}
        {{ title_suffix }}

        {% if display_submitted %}
            <footer>
                {{ author_picture }}
                <div{{ author_attributes }}>
                    {% trans %}Submitted by {{ author_name }} on {{ date }}{% endtrans %}
                    {{ metadata }}
                </div>
            </footer>
        {% endif %}
        <div class="row">
            <div{{ content_attributes }} class="col-md-8">
                {% if content.short_address|render or content.event_category|render %}
                    <div class="event-category-location">
                        {% if content.field_event_category|render %}
                            {{ content.field_event_category }}
                        {% endif %}
                        |
                        {% if content.short_address|render %}
                            {{ content.short_address }}
                        {% endif %}
                    </div>
                {% endif %}
                {% if content.field_date|render %}
                    <div class="event-date">
                        {{ content.field_date  }}
                        {% if content.field_end_date|render %}
                            - {{ content.field_end_date }}
                        {% endif %}
                    </div>
                {% endif %}
                {% if content.body|render %}
                    <div class="event-description">
                        {{ content.body }}
                    </div>
                {% endif %}
                {% if content.field_call_to_action|render %}
                    <div class="event-call-to-action">
                        {{ content.field_call_to_action }}
                    </div>
                {% endif %}
            </div>
            <aside class="col-md-4">
                {% if content.field_event_related_content|render %}
                    <h2>Related Content</h2>
                    {{ content.field_event_related_content }}
                {% endif %}
            </aside>
        </div>
        {% if content.field_gold_sponsor|render %}
        <div class="row">
            <div class="col-md-12">
                <h2 class="thin-heading sponsors">Gold Sponsors | <a href="/education-and-events/upcoming-events/event-sponsors?event={{ node.id }}">View All ></a></h2>
                <div class="header-image sponsors"><img src="/{{ directory }}/svg/logo-blue.svg" /></div>
                {{ content.field_gold_sponsor }}
            </div>
        </div>
        {% endif %}

</article>
