{#
/**
 * @file
 * Theme override to display a Facility node full display.
 *
 */
#}
<article{{ attributes.addClass('container') }}>

        <div class="row">
            <div{{ content_attributes }} class="col-md-6">

                <div class="node-facility-teaser-bottom">
                    {% if content.field_address|render %}
                        <div>
                            <h3>{{ 'Address'|t }}</h3>
                            {{ content.field_address }}
                        </div>
                    {% endif %}

                    {% if content.field_customer_phone_number %}
                        <div>
                            <h3>{{ 'Phone Number'|t }}</h3>
                            {{ content.field_customer_phone_number }}
                        </div>
                    {% endif %}

                    {% if content.field_customer_fax_number %}
                        <div>
                            <h3>{{ 'Fax Number'|t }}</h3>
                            {{ content.field_customer_fax_number|render }}
                        </div>
                    {% endif %}

                    {% if content.field_licensed_nursing_facility_|render %}
                        <div>
                            <h3>{{ 'Total Number of Beds'|t }}</h3>

                        </div>
                    {% endif %}

                    {% if content.field_licensed_nursing_facility_|render %}
                        <div>
                            <h3>{{ 'Licensed Nursing Facility Beds'|t }}</h3>
                            {{ content.field_licensed_nursing_facility_ }}
                        </div>
                    {% endif %}

                    {% if content.field_administrator|render %}
                        <div>
                            <h3>{{ 'Administrator'|t }}</h3>
                            {{ content.field_administrator }}
                        </div>
                    {% endif %}

                    {% if content.field_languages_spoken|render %}
                        <div>
                            <h3>{{ 'Languages Spoken'|t }}</h3>
                            {{ content.field_languages_spoken }}
                        </div>
                    {% endif %}

                    {% if content.field_specialized_unit|render %}
                        <div>
                            <h3>{{ 'Specialized Units'|t }}</h3>
                            {{ content.field_specialized_unit }}
                        </div>
                    {% endif %}

                    {% if content.field_populations_served|render %}
                        <div>
                            <h3>{{ 'Specialty Populations Served'|t }}</h3>
                            {{ content.field_populations_served }}
                        </div>
                    {% endif %}

                    {% if content.field_medicaid['0']['#markup'] == 'Medicaid' or content.field_medicare['0']['#markup'] == 'Medicare' or content.field_va_contract['0']['#markup'] == 'VA Contract' or content.field_pace_program['0']['#markup'] == 'On' %}
                        <div>
                            <h3>{{ 'Facility Participates in'|t }}</h3>
                            <ul>
                                {% if content.field_medicaid['0']['#markup'] == 'Medicaid' %}
                                    <li>{{ content.field_medicaid }}</li>
                                {% endif %}
                                {% if content.field_medicare['0']['#markup'] == 'Medicare' %}
                                    <li>{{ content.field_medicare }}</li>
                                {% endif %}
                                {% if content.field_va_contract['0']['#markup'] == 'VA Contract' %}
                                    <li>{{ content.field_va_contract }}</li>
                                {% endif %}
                                {% if content.field_pace_program['0']['#markup'] == 'On' %}
                                    <li>{{ 'PACE program'|t }}</li>
                                {% endif %}
                            </ul>
                        </div>
                    {% endif %}
                </div>
            </div>
            <div{{ content_attributes }} class="col-md-6 text-center">

                {% if content.field_facility_image|render %}
                    {{ content.field_facility_image }}
                {% endif %}
                {% if content.field_customer_web_site|render %}
                    {{ content.field_customer_web_site }}
                {% endif %}
                {% if content.field_facebook|render %}
                    {{ content.field_facebook }}
                {% endif %}
                {% if content.field_twitter|render %}
                    {{ content.field_twitter }}
                {% endif %}
                {% if content.field_linkedin|render %}
                    {{ content.field_linkedin }}
                {% endif %}

            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                {% if content.field_related_content|render %}
                    <div class="newsletter-article-bottom-row">
                        <h2>{{ 'Related Content'|t }}</h2>
                        {{ content.field_related_content }}
                    </div>
                {% endif %}
            </div>
        </div>

</article>
