{#
/**
 * @file
 * Theme override to display a Newsroom node teaser display.
 *
 */
#}
{# For Newsletter TOC anchor links. #}
<a name="{{ node.id }}"></a>
<article{{ attributes }}>

  <div{{ content_attributes }}>
      <div class="icon-square float-left">
          {# It's important to render it as an svg so sass fill property can control color. #}
          {{ source(directory ~ '/svg/envelope-blue.svg') }}
      </div>
      <div class="newsletter-teaser-text teaser-text">
        {% if content.field_sponsor|render %}
          <h2{{ title_attributes }}>
        {% else %}
            <h2{{ title_attributes.addClass('clearfix') }}>
            {% endif %}
            <a href="{{ url }}" rel="bookmark">{{ label }}</a>
          </h2>
          {% if content.field_sponsor|render %}
            <div class="clearfix">
              <p class="font-weight-bold float-left">{{ 'Sponsored by:'|t }}&nbsp;</p>{{ content.field_sponsor }}
            </div>
          {% endif %}
          <!--tocstart -->
          <h4>{{ 'In This Issue:'|t }}</h4>
          <ul class="list-unstyled issue-toc">
            {% for item in node.field_featured_article %}
              <li>{{ item.entity.label }}</li>
            {% endfor %}
            {% for item in node.field_newsletter_section %}
              {# We just want to display titles of first 3 articles. #}
              {% for article in item.entity.fields.field_featured_articles|slice(0, 3) %}
                <li>{{ article.entity.label }}</li>
              {% endfor %}
            {% endfor %}
          </ul>
          <!--tocend -->
          <a class="read-more" href="{{ path('entity.node.canonical', {'node': node.id }) }}">{{ 'Read more'|t }}</a>
      </div>

  </div>

</article>
