{#
/**
 * @file
 * Theme override to display a Newsletter Featured content of node types: events, newsletter article,
 * newsroom, resource and video.
 */
#}
<a class="anchor" name="{{ node.id }}"></a>
<article name="example" title="example">
  {# Doing this because image urls need to be absolute for email version of newsletter. #}
  <div class="float-left pr-3">
    {% for key, image in content.field_news_teaser_image  %}
      {%if image.entity %}
        {% set media = image.entity %}
        {% set file = media.field_image.entity %}
        {% set uri = file_url(file.uri.value) %}
        {# Todo: figure out how to invoke absolute url to styled image so I don't have to specify width like this #}
        <img width="325" src="http://{{ base_path }}{{ uri }}" alt="{{ media.name.value }}" />
      {% endif %}
    {% endfor %}
  </div>

  <div class="newsletter-article-teaser-text teaser-text" style="line-height: 24px; color: #657B85;">
      <h2 style="margin:0;font-size: 16px;font-weight:normal;font-family: 'Lato', Tahoma, sans-serif; text-transform: initial; padding-bottom: 15px;">
        {# intentionally making links absolute because these have to work from newsletter recipients' inboxes #}
        <a href="http://{{ base_path }}{{ url }}" style="font-size: 38px; line-height: 42px; font-family: 'Lato', Tahoma, sans-serif;text-decoration:none; color: #005A84;" rel="bookmark">{{ label }}</a>
      </h2>
      {{ content.body }}
          <table width="auto" border="0" style="border-collapse: collapse; background-color: #2278CB; width: auto; margin-top: 30px; margin-bottom: 65px;">
              <tbody>
              <tr>
                  <td style="vertical-align: center;border-top: 0 solid #eceeef; width:auto;">
                      <a href="http://{{ base_path }}{{ path('entity.node.canonical', {'node': node.id }) }}" style="font-size: 14px;font-weight: normal; text-transform: uppercase; padding: 9px 15px; color:#fff;">{{ 'Read Full Article'|t }}</a>
                  </td>
              </tr>
              </tbody>
          </table>
  </div>

</article>
