{#
/**
 * @file
 * Theme override to display an Education and Events node teaser display.
 *
 */
#}
<article{{ attributes }}>

  <div{{ content_attributes }}>
      <div class="date-square">
          <div class="date-square-month">{{ content.square_month }}</div>
          <div class="date-square-day">{{ content.square_day }}</div>
      </div>
      <div class="event-teaser-text">
          {% if content.field_event_category|render %}
              <h4>{{ content.field_event_category.0 }}</h4>
          {% endif %}
          <h2{{ title_attributes }}>
            <a href="{{ url }}" rel="bookmark">{{ label }}</a>
          </h2>
          {{ content.body }}
          {% set text = content.body|render|striptags %}
          <a class="read-more" href="{{ path('entity.node.canonical', {'node': node.id }) }}">Read more</a>
      </div>

  </div>

</article>
