{#
/**
 * @file
 * Theme override to display a Resources node teaser display.
 *
 */
#}
{# For Newsletter TOC anchor links. #}
<a name="{{ node.id }}"></a>
<article{{ attributes.addClass('pb-5') }}>
  <div{{ content_attributes }}>
      <h2{{ title_attributes }}>
        <a href="{{ url }}" rel="bookmark">{{ label }}</a>
      </h2>
      {% if content.field_resource_type|render %}
          {# Display just the first one in case there are multiple types. #}
          <h6>{{ content.field_resource_type.0 }}</h6>
      {% endif %}
      {{ content.body }}
      <a href="{{ path('entity.node.canonical', {'node': node.id }) }}">{{ 'Read more'|t }}</a>
      <div class="utility-links float-right">
          <i class="fa fa-envelope-o" aria-hidden="true"></i>
          <a href="http://{{ base_path }}/forward/node/{{ node.id }}" target="_blank">E-mail</a>
          <i class="fa fa-print" aria-hidden="true"></i>
          <a href="http://{{ base_path }}/print/pdf/node/{{ node.id }}" target="_blank">Print</a>
      </div>
  </div>
</article>
