{#
/**
 * @file
 * Theme override to display a Newsletter Article node email display.
 * Tables are needed as this will be rendered in email clients like MS Outlook.
 */
#}
{# For Newsletter TOC anchor links. #}
<a class="anchor" name="{{ node.id }}"></a>
<article{{ attributes.addClass('pb-5') }}>
  {% if content.field_news_teaser_image|render %}
      {# We have an image so more complex table is needed. #}
      <table cellspacing="10">
        <tbody>
        <tr>
          <td>
            <table width="100" cellspacing="10">
              <tbody>
              <tr>
                <td>
                    {# Doing this because image urls need to be absolute for email version of newsletter. #}
                    {% for key, image in content.field_news_teaser_image  %}
                      {%if image.entity %}
                        {% set media = image.entity %}
                          {% set file = media.field_image.entity %}
                          {% set uri = file_url(file.uri.value) %}
                          {# Todo: figure out how to invoke absolute url to styled image so I don't have to specify width like this #}
                        <img width="100" src="http://{{ base_path }}{{ uri }}" alt="{{ media.name.value }}" />
                      {% endif %}
                    {% endfor %}
                </td>
              </tr>
              </tbody>
            </table>
          </td>
          <td>
            <h2{{ title_attributes }}>
                {# intentionally making links absolute because these have to work from newsletter recipients' inboxes #}
              <a href="http://{{ base_path }}{{ url }}" rel="bookmark">{{ label }}</a>
            </h2>
          </td>
        </tr>
        <tr>
          <td colspan="2">{{ content.body }}</td>
        </tr>
        <tr>
          <td>
            <table>
              <tbody>
              <tr>
                <td>
                  <table width="60%">
                    <tbody>
                    <tr>
                      <td>
                        <a href="http://{{ base_path }}{{ path('entity.node.canonical', {'node': node.id }) }}">{{ 'Read more'|t }}</a>
                      </td>
                    </tr>
                    </tbody>
                  </table>
                </td>
                <td>
                  <table width="40%">
                    <tbody>
                    <tr>
                      <td>
                        <i class="fa fa-envelope-o" aria-hidden="true"></i>
                        <a href="http://{{ base_path }}/forward/node/{{ node.id }}" target="_blank">E-mail</a>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <i class="fa fa-print" aria-hidden="true"></i>
                        <a href="http://{{ base_path }}/print/pdf/node/{{ node.id }}" target="_blank">Print</a>
                      </td>
                    </tr>
                    </tbody>
                  </table>
                </td>
              </tr>
              </tbody>
            </table>
          </td>
        </tr>
        </tbody>
      </table>
  {% else %}
    {# No image so simplify table. #}
    <table cellspacing="10">
      <tbody>
      <tr>
        <td>
          <h2{{ title_attributes }}>
              {# intentionally making links absolute because these have to work from newsletter recipients' inboxes #}
            <a href="http://{{ base_path }}{{ url }}" rel="bookmark">{{ label }}</a>
          </h2>
        </td>
      </tr>
      <tr>
        <td>{{ content.body }}</td>
      </tr>
      <tr>
        <td>
          <table>
            <tbody>
            <tr>
              <td>
                <table width="60%">
                  <tbody>
                  <tr>
                    <td>
                      <a href="http://{{ base_path }}{{ path('entity.node.canonical', {'node': node.id }) }}">{{ 'Read more'|t }}</a>
                    </td>
                  </tr>
                  </tbody>
                </table>
              </td>
              <td>
                <table width="40%">
                  <tbody>
                  <tr>
                    <td>
                      <i class="fa fa-envelope-o" aria-hidden="true"></i>
                      <a href="http://{{ base_path }}/forward/node/{{ node.id }}" target="_blank">E-mail</a>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <i class="fa fa-print" aria-hidden="true"></i>
                      <a href="http://{{ base_path }}/print/pdf/node/{{ node.id }}" target="_blank">Print</a>
                    </td>
                  </tr>
                  </tbody>
                </table>
              </td>
            </tr>
            </tbody>
          </table>
        </td>
      </tr>
      </tbody>
    </table>
  {% endif %}
</article>
