{#
/**
 * @file
 * Theme override to display an Education and Events node newsletter display.
 *
 */
#}
<article{{ attributes }}>

  <div{{ content_attributes }}>
      <div class="date-square float-left mr-3">
          <div class="date-square-month">{{ content.square_month }}</div>
          <div class="date-square-day">{{ content.square_day }}</div>
      </div>
      <div class="event-teaser-text">
          {% if content.field_date|render %}
              <h4>{{ content.full_start_date }}
                {% if content.full_end_date %}
                  - {{ content.full_end_date }}
                {% endif %}
              </h4>
          {% endif %}
          <h2{{ title_attributes }}>
            <a href="{{ url }}" rel="bookmark">{{ label }}</a>
          </h2>
      </div>

  </div>

</article>
