{#
/**
 * @file
 * Theme override to display an Education and Events node newsletter display.
 *
 */
#}
<article{{ attributes.addClass('pb-5') }}>

  <div{{ content_attributes }}>
      <div class="date-square float-left mr-3">
          <div class="date-square-month">{{ content.square_month }}</div>
          <div class="date-square-day">{{ content.square_day }}</div>
      </div>
      <div class="event-teaser-text">
          {% if content.field_event_category|render %}
              <h4>{{ content.field_event_category.0 }}</h4>
          {% endif %}
          <h2{{ title_attributes }}>
            <a href="http://{{ base_path }}{{ url }}"  style="font-size: 16px; font-family: 'Lato', Tahoma, sans-serif;text-decoration:none;text-transform: uppercase;" rel="bookmark">{{ label }}</a>
          </h2>
          <div class="event-location">
            {% if node.field_location.organization %}
              {{ node.field_location.organization }},
            {% endif %}
            {% if node.field_location.locality %}
              {{ node.field_location.locality }},
            {% endif %}
            {% if node.field_location.administrative_area %}
              {{ node.field_location.administrative_area }}
            {% endif %}
          </div>

          {{ content.body }}
          <a href="http://{{ base_path }}{{ path('entity.node.canonical', {'node': node.id }) }}" style="font-weight: bold;font-size: 14px;">Read more</a>
      </div>

  </div>

</article>
