{#
/**
 * @file
 * Theme override to display a Newsletter Featured content of node types: events, newsletter article,
 * newsroom, resource and video.
 */
#}
<article{{ attributes.addClass('pb-5') }}>

  <div{{ content_attributes }}>
      {% if content.field_news_teaser_image|render %}
          <div class="float-left pr-3">
            {{ content.field_news_teaser_image }}
          </div>
      {% endif %}
      <div class="newsletter-article-teaser-text teaser-text">
          {# If this is a Newsroom node, we want to display the category. #}
          {% if content.field_newsroom_category|render %}
              {# Display just the first one in case there are multiple categories. #}
              <h4>{{ content.field_newsroom_category.0 }}</h4>
          {# Otherwise display type of node this is. #}
          {% else %}
              <h4>{{ node.type.entity.label }}</h4>
          {% endif %}
          <h2{{ title_attributes }}>
            <a href="{{ url }}" rel="bookmark">{{ label }}</a>
          </h2>
          {{ content.body }}
          <a href="{{ path('entity.node.canonical', {'node': node.id }) }}">{{ 'Read more'|t }}</a>
      </div>

  </div>

</article>
