{#
/**
 * @file
 * Theme override to display a Newsletter Featured content of node types: events, newsletter article,
 * newsroom, resource and video.
 */
#}
<a class="anchor" name="{{ node.id }}"></a>
<article{{ attributes }}>
  {# Doing this because image urls need to be absolute for email version of newsletter. #}
  <div class="float-left pr-3">
    {% for key, image in content.field_news_teaser_image  %}
      {%if image.entity %}
        {% set media = image.entity %}
        {% set file = media.field_image.entity %}
        {% set uri = file_url(file.uri.value) %}
        {# Todo: figure out how to invoke absolute url to styled image so I don't have to specify width like this #}
        <img width="325" src="http://{{ base_path }}{{ uri }}" alt="{{ media.name.value }}" />
      {% endif %}
    {% endfor %}
  </div>

  <div class="newsletter-article-teaser-text teaser-text">
      <h2 style="margin:0;font-size: 16px;font-weight:normal;font-family: 'Lato', Tahoma, sans-serif;">
        {# intentionally making links absolute because these have to work from newsletter recipients' inboxes #}
        <a href="http://{{ base_path }}{{ url }}" style="font-size: 16px;font-family: 'Lato', Tahoma, sans-serif;text-decoration:none;text-transform: uppercase;" rel="bookmark">{{ label }}</a>
      </h2>
      {{ content.body }}
          <table width="100%" border="0" cellspacing="10" style="border-collapse: collapse;">
              <tbody>
              <tr>
                  <td style="width: 82%;padding:0;vertical-align: top;border-top: 0 solid #eceeef;">
                      <a href="http://{{ base_path }}{{ path('entity.node.canonical', {'node': node.id }) }}" style="font-size: 14px;font-weight: bold;">{{ 'Read more'|t }}</a>
                  </td>
                  {#<td style="text-align:right;padding:0;vertical-align: top;border-top: 0 solid #eceeef;">#}
                      {#<i class="fa fa-envelope-o" aria-hidden="true"></i>#}
                      {#<a href="http://{{ base_path }}/forward/node/{{ node.id }}" target="_blank">E-mail</a>#}
                  {#</td>#}
                  {#<td style="text-align:right;padding:0;vertical-align: top;border-top: 0 solid #eceeef;">#}
                      {#<i class="fa fa-print" aria-hidden="true"></i>#}
                      {#<a href="http://{{ base_path }}/print/pdf/node/{{ node.id }}" target="_blank">Print</a>#}
                  {#</td>#}
              </tr>
              </tbody>
          </table>
  </div>

</article>
