{#
/**
 * @file
 * Theme override to display an Education and Events node teaser display.
 *
 */
#}
<a class="anchor" name="{{ node.id }}"></a>
<article{{ attributes }}>
  <div{{ content_attributes }}>
      {% if content.field_date|render %}
          <div class="date-square">
              <div class="date-square-month">{{ content.field_date.value|date('M') }}</div>
              <div class="date-square-day">{{ content.field_date.value|date('j') }}</div>
          </div>
      {% endif %}
      <div class="event-teaser-text">
          <h2{{ title_attributes }}>
            <a href="{{ url }}" style="text-decoration:none;" rel="bookmark">{{ label }}</a>
          </h2>
          {{ content.body }}
          {% set text = content.body|render|striptags %}
          {% if text|length > 350 %}
              <a href="{{ path('entity.node.canonical', {'node': node.id }) }}">Read more</a>
          {% endif %}
      </div>
  </div>
</article>
