{#
/**
 * @file
 * Theme override to display a Newsroom node Full display.
 *
 */
#}
<article{{ attributes.addClass('container') }}>
  <div class="newsletter-article-top-row">
    <div class="newsletter-article-left">
      {% if content.field_news_subtitle|render %}
        <span class="newsletter-article-subtitle">{{ content.field_news_subtitle }}</span>
      {% endif %}
      <div class="newsletter-article-date">
        {{ 'News'|t }}
        {% if content.field_news_release_date|render %}
          &nbsp;|&nbsp;
          {{ content.field_news_release_date }}
        {% endif %}
      </div>

      {{ content.body }}
      {{ content.field_news_source }}

    </div>
    <div class="newsletter-article-right">
      <h2>{{ 'Recent News'|t }}</h2>
      {{ drupal_block('views_block__news_block_2') }}
      {{ drupal_block('findafacilityuserlogin') }}
    </div>
  </div>
    {% if content.field_related_content|render %}
    <div class="newsletter-article-bottom-row">
      <h2>{{ 'Related Content'|t }}</h2>
      {{ content.field_related_content }}
    </div>
    {% endif %}
</article>
